.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.search-results {
    padding-top: 20px;
}

.search-results h5 {
    color: #1d6fa5;
    font-weight: bolder;
}

.main-content {
    background-image: url('https://d2wi4faa4xtq37.cloudfront.net/sites/default/files/images/KariusBloom2small.jpg');
    background-position: left top;
    background-repeat: no-repeat; /* Do not repeat the image */

    background-size: 400px; /* Resize the background image to cover the entire container */
    min-height: 420px;
}

.top-container {
    background-color: rgba(255, 255, 255, 0.5);
}
